<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Targowisko</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
</head>

<body>
<header th:insert="_layout :: layout"></header>

<section id="inputSection">
    <div class="resContainer">
        <h1>Add Stall</h1>
        <div id="box">

    <form action="#" th:action="@{/addStall}" th:object="${stall}"
          method="POST">
        <table>
        <tr>
            <th>priceOfStall</th>
            <th>capasity</th>
            <th>taxes</th>
        </tr>
        <tr>
        <td><input type="text" th:field="*{priceOfStall}"
                   placeholder="priceOfStall"></td>

        <td><input type="text" th:field="*{capasity}"
                   placeholder="capasity"></td>

        <td><input type="text" th:field="*{taxes}"
                   placeholder="taxes"></td>
        </tr>
        </table>

        <button type="submit">Save Stall</button>
    </form>
        </div>
    </div>
</section>
<!--<script>
    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function(event) {
            textbox.addEventListener(event, function() {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
                currentElement = parseInt(this.value);
                setLight(currentElement);
            });
        });
    }
    setInputFilter(document.getElementById("intTextBox"), function(value) {
        return /^\d*$/.test(value) && (value === "" || parseInt(value) <= 9); });
</script>-->
</body>
</html>